VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=jpfinal-bisu-2026.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=jpfinal-bisu-2026
VITE_FIREBASE_STORAGE_BUCKET=jpfinal-bisu-2026.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_API_URL=https://asia-south1-jpfinal-bisu-2026.cloudfunctions.net/api
